.basic__details {
    padding: 35px 30px;
}

.basic__details .basic__details__content {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid  #e1d6ec;


}
.basic__details .basic__details__content p{
    font-size: 17px;
}

.basic__details .basic__details__content p:nth-child(1){
    color: #03293D;
    font-weight: bold;
    width: 70%;
}

.basic__details .basic__details__content p:nth-child(2){
    color: #03293D;
    opacity: 0.5;
    width: 30%;
}