.documents__content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    padding: 15px 30px;
}

.documents__content .documents__content__left {
    width: 40%;
}

.documents__content .documents__content__right {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.documents__content .documents__content__left h2{
   font-size: 23px;
   color: #03293D;
}

.documents__content .documents__content__left p{
    font-size: 14px;
    color: #03293D;
    opacity: 0.7;
 }

 .documents__content .documents__content__right p{
    font-size: 14px;
    color: #03293D;
    opacity: 0.7;
 }