.milestones {
    padding: 15px 30px;
    height: 100%;
}

.milestones .empty__milestone{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.milestones .empty__milestone div{
    text-align: center;
}

.milestones .empty__milestone div p{
    color: #EB5757;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}

.milestones .milestone__content .main__details{
    display: flex;
    justify-content: space-between;
}

.milestones .milestone__content .main__details p {
    font-weight: bold;
    padding: 10px 0;
}

.milestones .milestone__content  table {
    margin: 15px 0;
}

.milestones .milestone__content  table, .milestones .milestone__content  tr {
    width: 100%;
}

.milestones .milestone__content table thead tr {
    background: #F0F1F2;
}

.milestones .milestone__content table th{
    width: 16%;
    font-size:12px;
    color: #182538;
    font-weight:400;
    padding: 15px 5px;
    text-align: left;
}

.milestones .milestone__content table td{
    width: 16%;
    font-size:14px;
    color: #182538;
    font-weight:400;
    padding: 15px 5px;
}

.milestones .milestone__content .add__milestone__btn {
    text-align: right;
}