.pagination__component {
    background: transparent;
    text-align: center;
}

.pagination__component .pagination__bar {
    display: flex;
    justify-content: center;
}

.pagination__component .pagination__bar .prev-section{
    margin-right: 10px;
}

.pagination__component .pagination__bar .prev-section *{
    margin: 0 5px;
    cursor: pointer;
}

.pagination__component .pagination__bar .next-section{
    margin-left: 10px;
}

.pagination__component .pagination__bar .next-section *{
    margin: 0 5px;
    cursor: pointer;
}

.pagination__component .pagination__bar .number-section .number{
    margin: 0 2px;
    cursor: pointer;
    padding: 5px 11px;
}

.pagination__component .pagination__bar .number-section .number.active{
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 5px 11px;
    width: 20%;
}

