.container-90 {
	width: 90%;
	margin: 0 auto;
}

.container-80 {
	width: 80%;
	margin: 0 auto;
}

button:focus {
	outline: none;
}

.back__arrow {
	cursor: pointer;
	background: transparent;
	border: 0;
}

.applications__dashboard .applications__dashboard__header h1 {
	font-size: 30px;
	padding: 20px 0;
}

.applications__dashboard .applications__dashboard__card {
	background: #fff;
	border-radius: 9px;
	margin: 20px 0;
	padding: 20px 10px 30px 10px;
	overflow: scroll;
}
.dashboard__table table {
	margin: 20px 0;
}

.dashboard__table table,
.dashboard__table tr {
	width: 100%;
}

.dashboard__table table td,
.dashboard__table table th {
	width: 20%;
	text-align: left;
	padding: 20px;
}

.dashboard__table table th {
	font-size: 15px;
	color: #182538;
	opacity: 0.5;
	font-weight: 500;
}

.dashboard__table table td {
	font-size: 15px;
	color: #182538;
	font-weight: 500;
}

.dashboard__table table tbody tr:hover {
	background: #f0f1f2;
	color: #182538;
}

.dashboard__table table tbody button {
	background: #2db875;
	border-radius: 5px;
	color: #fff;
	padding: 10px 25px;
	border: 1px solid #2db875;
}

.applications__details .applications__details__header {
	padding: 20px 0;
}

.applications__details .applications__details__header i {
	cursor: pointer;
}

.applications__details .applications__details__header .page__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.applications__details
	.applications__details__header
	.page__title
	.page__title__details {
	margin: 25px 0;
}

.applications__details
	.applications__details__header
	.page__title
	.page__title__details
	h1 {
	font-size: 30px;
	color: #03293d;
	margin: 10px 0;
}

.applications__details
	.applications__details__header
	.page__title
	.page__title__details
	.date {
	font-size: 14px;
	color: #03293d;
	opacity: 0.5;
	margin-right: 4px;
}

.applications__details
	.applications__details__header
	.page__title
	.page__title__details
	.divider {
	color: #2d2d2d;
	opacity: 0.5;
	font-size: 14px;
}

.applications__details
	.applications__details__header
	.page__title
	.page__title__details
	.owner {
	color: #919091;
	font-size: 14px;
}
.applications__details
	.applications__details__header
	.page__title
	.page__title__details
	img {
	width: 20px;
	margin: 0 10px;
	position: relative;
	top: 5px;
}
.applications__details
	.applications__details__header
	.page__title
	.page__title__actions {
	display: flex;
	align-content: center;
}

.applications__details
	.applications__details__header
	.page__title
	.page__title__actions
	button {
	color: #fff;
	background: #2db875;
	border-radius: 10px;
	padding: 15px 30px;
	border: 1px solid #2db875;
}

@media screen and (max-width: 500px) {
	.applications__details .applications__details__header .page__title {
		display: block;
	}
}
