@media only screen and (min-width: 768px) {
	.input-field {
		font-size: 15px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.neip-savings--shapeItems {
		position: absolute;
		right: 5% !important;
	}
	.fold-illustration img {
		height: 800px;
		right: -650px;
		bottom: -290px;
	}
	.neip-entry--fold {
		min-height: 680px;
	}
}

@media only screen and (min-width: 1350px) and (max-width: 1440px) {
	.fold-illustration img {
		right: -580px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.neip-savings--shapeItems {
		position: absolute;
		right: 25px !important;
	}
	body,
	html {
		font-size: 14px;
	}
	.neip-screens--wrap img {
		max-width: 208px;
	}
	.web-screen--wrap img {
		max-width: 650px;
	}
	.entry-text--wrap {
		max-width: 400px;
	}
	.neip-standard--wrap {
		max-width: 380px;
	}
	.neip-center--section:not(.neip-saving--section) .neip-standard--wrap {
		max-width: 580px;
	}
	.animate-coin svg {
		height: 50px;
		width: auto;
	}
	.web-screen--wrap img {
		max-width: 650px;
	}
	.animate-coin svg {
		height: 50px;
		width: auto;
	}
	.neip-saving--illustration .mock {
		width: 200px;
	}
	.neip-leaf--left svg {
		right: 222px;
		width: 180px;
	}
	.neip-leaf--right svg {
		width: 180px;
	}
	.growth-mock--section .neip-standard--wrap {
		top: -20px;
	}
	.growth-mock--section {
		padding-top: 40px;
	}
	.neip-saving--illustration .mock {
		top: -40px;
	}
	.neip-menu li:not(:last-child) {
		margin-right: 28px;
	}
	.neip-nav--actions {
		width: 100%;
	}
	.neip-nav--brand {
		margin-right: 40px;
	}
	.neip-logo {
		height: 50px;
		width: 50px;
	}
	.menu-is--button {
		padding: 11px 22px;
		min-width: 128px;
		height: 45px !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.fold-illustration img {
		height: 706px;
		right: -650px;
		bottom: -280px;
	}
	.neip-screens--wrap img:not(:last-child) {
		margin-right: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.fold-illustration {
		display: none;
	}
	.neip-entry--fold {
		min-height: 500px;
	}
	.leaf-left--below---fold {
		top: -25%;
	}
	.web-screen--wrap img {
		max-width: 600px;
	}
	.neip-screens--wrap img:not(:last-child) {
		margin-right: 20px;
	}
	.neip-screens--wrap img {
		max-width: 185px;
	}
	.neip-nav--brand svg {
		height: 27px;
		width: auto;
	}
	.neip-nav--brand {
		margin-right: 25px;
	}
	.neip-entry--fold .neip-section--50 {
		width: calc(100% - 20px);
	}
	.entry-illustration img {
		max-height: 405px;
	}
	.entry-illustration svg {
		max-width: 415px;
	}
	.neip-entry--fold {
		min-height: 600px;
	}
	.entry-illustration img {
		left: 24%;
		transform: translateX(-50%);
	}
	.sponsor-illustration img {
		top: 30px;
	}
}

@media only screen and (max-width: 767px) {
	body,
	html {
		font-size: 13.5px;
	}
	.neip-section--50 {
		width: 100%;
	}
	.neip-entry--fold {
		min-height: 100%;
		padding-bottom: 0px;
		padding-top: 180px;
	}
	.below-fold--illustrations {
		display: none;
	}
	.neip-section {
		flex-direction: column;
		margin: 25px 0;
	}
	.neip-section--50 {
		margin-bottom: 30px;
	}
	.fold-illustration {
		display: none;
	}
	header {
		height: 75px;
	}
	.text-heading {
		font-size: 2.3rem;
	}
	.neip-standard--wrap .text-heading {
		font-size: 1.8rem;
	}
	.step-icon img {
		width: 45px;
		height: 45px;
		object-fit: cover;
	}
	.neip-step--text {
		padding: 0 0px 0 20px;
	}
	.neip-screens--wrap img {
		width: 100%;
	}
	.web-solution--illustration {
		display: none;
	}
	.web-coin--illustration {
		display: none;
	}
	.mobile-solutions--illustration {
		display: none;
	}
	.neip-screens--wrap:not(.web-screen--wrap) img:first-child,
	.neip-screens--wrap:not(.web-screen--wrap) img:last-child {
		display: none;
	}
	.neip-screens--wrap:not(.web-screen--wrap) img {
		max-width: 230px;
	}
	.neip-screens--wrap img {
		margin: 0 0 25px 0 !important;
	}
	.cta-item {
		width: 100%;
		margin: 0 !important;
	}
	.cta-item:not(:last-child) {
		margin-bottom: 30px !important;
	}
	.cta-item--heading {
		font-weight: 500;
		margin-bottom: 7px;
		text-align: center;
	}
	.cta-item--body,
	.neip-standard--wrap .text-subheading,
	.neip-standard--wrap .text-heading {
		text-align: center;
	}
	.entry-text--wrap {
		text-align: left;
	}
	.neip-cta--lg {
		margin-left: auto;
		margin-right: auto;
	}
	.neip-saving--illustration {
		margin-top: 150px;
	}
	.neip-saving--illustration .mock {
		top: 217px;
		max-width: 230px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.growth-mock--section {
		padding-top: 90px;
	}
	.neip-saving--illustration {
		margin-top: 200px;
	}
	.neip-saving--illustration .mock {
		top: 240px;
		max-width: 230px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.neip-leaf--left svg {
		right: auto;
		right: calc(50% + 120px);
		transform: translateX(-50%);
		width: 150px;
	}
	.footer-column {
		width: 33.33%;
		margin-bottom: 50px;
		text-align: center;
	}
	.neip-footer--columns {
		flex-wrap: wrap;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.column-is--two {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0;
	}
	.download-badges {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
	}
	.footer-column .neip-cta--lg {
		margin-left: auto;
	}
	.neip-copyright--section * {
		text-align: center;
	}
	.neip-entry--header {
		max-width: 100%;
	}
	.neip-entry--header {
		max-width: 100%;
	}
	footer .container {
		max-width: 100%;
	}
	.padding-top--small {
		padding-top: 0;
	}
	.neip-standard--section {
		padding-bottom: 0;
	}
	.neip-small--wrap.has-heading--border {
		max-width: 100% !important;
	}
	.neip-section--40,
	.neip-section--60 {
		width: 100%;
	}
	.neip-standard--section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.entry-illustration,
	.neip-entry--fold > .container .neip-section--50:last-child {
		display: none;
	}
	.has-heading--border p {
		margin-left: -68px;
		margin-bottom: 20px;
	}
	.form-wrap .input-field--wrap {
		width: 100%;
	}
	.custom-radio:first-child {
		padding-right: 15px;
	}
	.custom-radio:last-child {
		padding-left: 15px;
		padding-right: 0px;
	}
	.optional-doc--wrap,
	.personalize--card {
		padding: 20px;
	}
	.input-field {
		margin-bottom: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.label-alt {
		left: 15px;
	}
	.neip-logo {
		height: 42px;
		width: 42px;
	}
	textarea.input-field {
		padding: 25px 20px;
	}
	.neip-single--member {
		width: 100%;
		margin-bottom: 30px;
	}
	.neip-members {
		margin-top: 30px;
	}
	.neip-testimonial--card,
	.neip-single--listings {
		width: 100%;
	}
	.neip-testimonials,
	.neip-testimonial--card {
		max-width: 100%;
	}
	.neip-testimonial--card {
		margin-bottom: 25px;
		position: static !important;
	}
	.neip-testimonials {
		margin-top: 30px;
	}
	.neip-small--wrap {
		max-width: 500px;
	}
	.neip-steps--cta:not(:last-child) {
		margin-bottom: 25px;
	}
	.footer-column {
		width: 50%;
	}
	.neip-donor--listings,
	.neip-single--listings {
		margin-right: 0;
	}
	.footer-header,
	ul.neip-footer--menu {
		text-align: left;
	}
	.neip-footer--logo {
		height: 60px;
		width: 60px;
		margin-left: auto;
		display: flex;
		margin-right: auto;
	}

	.neip-dashboard--wrap {
		grid-template-columns: 40px 1fr;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.neip-nav--brand {
		margin-right: 20px;
	}
	.neip-logo {
		height: 40px;
		width: 40px;
	}
	.neip-menu li:not(:last-child) {
		margin-right: 22px;
	}
	.menu-is--button {
		padding: 11px 22px;
		min-width: 114px;
		height: 44px !important;
	}
}

@media only screen and (min-width: 1025px) {
	.mobile-hamburger {
		display: none;
	}
	.neip-mobile--menu {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.neip-menu,
	.neip-nav--actions {
		display: none;
	}
	.neip-nav--brand svg {
		height: 28px;
		width: auto;
	}
}
