@font-face {
	font-family: "Futura";
	src: url("../fonts/futura/bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("../fonts/futura/regular.ttf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

/* Anti Alias */

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

/* Body defaults */

html,
body {
	font-family: "Work Sans", sans-serif;
	font-size: 16px;
	color: #03293d;
}

a {
	text-decoration: none;
	color: inherit;
}

td {
	font-family: "Work Sans", sans-serif;
}

/* CONTAINER */

.container {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: calc(100% - 25px);
	}
	.neip-savings--shapeItems {
		position: absolute;
		right: 25px !important;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: calc(100% - 25px);
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1290px;
		padding-right: 20px;
		padding-left: 20px;
	}
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

/* Text font sizing */

h1 {
	font-size: 2.2rem;
	line-height: 1.2;
	font-family: "Futura", sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 2rem;
	line-height: 1.4;
	font-family: "Futura", sans-serif;
	font-weight: 700;
}

h3 {
	font-size: 1.8rem;
	line-height: 1.5;
	font-family: "Futura", sans-serif;
	font-weight: 700;
}

h4 {
	font-size: 1.42rem;
	line-height: 1.5;
	font-family: "Futura", sans-serif;
	font-weight: 700;
}

h5 {
	font-size: 1.32rem;
	line-height: 1.5;
	font-family: "Futura", sans-serif;
	font-weight: 700;
}

h6 {
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: "Futura", sans-serif;
	font-weight: 700;
}

p {
	font-size: 1rem;
	line-height: 1.6;
}

.text-content--heading {
	font-size: 1.5rem;
}

.font-alt {
	font-family: "Futura", sans-serif !important;
	font-weight: 400 !important;
}

.text-lg {
	font-size: 2.55rem !important;
	line-height: 1.38;
}

.text-md {
	font-size: 2.15rem;
	line-height: 1.4;
}

.text-sm {
	font-size: 0.8rem;
}

.text-subheading {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 10px;
}

.text-normal {
	font-weight: 400 !important;
}

.color-primary {
	color: #2db875;
}

.color-black {
	color: #03293d;
}

.color-secondary {
	color: #0898a0;
}

.color-white {
	color: #ffffff;
}

.text-opaque {
	color: rgba(3, 41, 61, 0.5);
}

.text-semi--bold {
	font-weight: 500;
}

.text-bold {
	font-weight: 700;
}

.text-xbold {
	font-weight: 800;
}

.text-xlbold {
	font-weight: 900;
}

.text-light {
	font-weight: 300;
}

.text-normal {
	font-weight: 400;
}

.neip-menu--item a,
.no-link {
	font-weight: 700;
	font-size: 0.875rem;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

[data-toggle="dropdown"] > a,
[data-toggle="dropdown"] > .no-link {
	height: 35px;
}

.no-link {
	cursor: default;
}

/* BUTTONS */

.neip-cta {
	font-weight: 500 !important;
	font-size: 16px;
	line-height: 1;
	display: flex;
	align-items: center;
	padding: 11px 25px;
	border-radius: 4px;
	justify-content: center;
	cursor: pointer;
	background: #2db875;
	color: #ffffff;
	height: 48px;
	transition: transform 0.6s;
	border: 0;
}

.neip-cta-lg {
	max-width: 198px;
	width: 100%;
}

.menu-is--button {
	height: 46px !important;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 150px;
}

/**** BACKGROUND *****/

.standard--bg {
	background-color: #2db875;
}

header {
	height: 95px;
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
}

.is-sticky {
	background-color: #fff;
	box-shadow: 0px 1px 23px rgba(0, 0, 0, 0.06);
}

.neip-header--left,
.neip-menu {
	display: flex;
	align-items: center;
}

.neip-nav--brand {
	margin-right: 8%;
}

.neip-logo {
	height: 60px;
	width: 60px;
}

.neip-menu li:not(:last-child) {
	margin-right: 34px;
}

.neip-nav--actions li:not(:last-child) {
	margin-right: 25px;
}

.neip-menu li {
	font-weight: 500;
}

.neip-entry--fold {
	min-height: 720px;
	display: flex;
	align-items: center;
	padding-top: 90px;
	position: relative;
	overflow: hidden;
}

.fold-illustration img {
	position: absolute;
	right: -600px;
	bottom: -338px;
	width: auto;
	height: 880px;
}

.neip-entry--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.neip-header--left,
.neip-nav--actions {
	width: 100%;
}

.neip-nav--actions ul {
	display: flex;
	justify-content: flex-end;
}

.neip-nav--actions {
	width: 100%;
	max-width: 400px;
}

.menu-is--button {
	background-color: #2db875;
	padding: 14px 37px;
	border-radius: 4px;
	color: #fff;
	font-weight: 500 !important;
}

.neip-section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 9;
}

.neip-section--100 {
	width: 100%;
}

.neip-section--65 {
	width: 65%;
}

.neip-section--60 {
	width: 60%;
}

.neip-section--50 {
	width: 50%;
}

.neip-section--40 {
	width: 40%;
}

.neip-section--35 {
	width: 35%;
}

.neip-section--33 {
	width: 33.33%;
}

.neip-section--25 {
	width: 25%;
}

.neip-section--20 {
	width: 20%;
}

.text-heading {
	font-size: 3.7rem;
}

.entry-text--wrap {
	max-width: 560px;
}

.entry-text--wrap .text-heading {
	margin-bottom: 22px;
}

.entry-text--wrap h1.text-subheading {
	font-size: 2rem;
	margin-bottom: 22px;
}

.neip-cta--lg {
	max-width: 244px;
	margin-top: 35px;
}

.neip-standard--section {
	padding-top: 6.5%;
	padding-bottom: 6.5%;
	overflow: hidden;
	position: relative;
}

.heading-spacer {
	margin-bottom: 22px;
}

.paragraph-spacer {
	margin-bottom: 12px;
}

.neip-standard--wrap {
	max-width: 480px;
}

.neip-small--wrap {
	max-width: 260px;
}

.neip-small--wrap.has-heading--border {
	max-width: calc(245px + 68px);
}

.neip-standard--wrap .text-subheading {
	font-size: 1.125rem;
}

.neip-steps--cta {
	background: #ffffff;
	box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 10px 20px;
}

.neip-steps--cta:not(:last-child) {
	margin-bottom: 40px;
}

.neip-step {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 22px 0 22px;
}

.neip-step:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.neip-step--text {
	padding: 0 20px 0 40px;
	width: 100%;
}

.neip-step--text p {
	font-size: 0.875rem;
}

.padding-top--small {
	padding-top: 2%;
}

.neip-screens--wrap {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 9;
}

.neip-screens--wrap img:not(:last-child) {
	margin-right: 60px;
}

.neip-center--section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.neip-center--section .neip-standard--wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 770px;
	text-align: center;
	margin-top: 5%;
}

.neip-cta--section {
	padding: 64px 10%;
	background-color: #2db875;
	box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	background-image: url("../img//savingsShape.svg");
	background-size: cover;
	background-position: center;
}

.neip-cta--section .neip-standard--wrap {
	margin: 0;
	max-width: 100%;
}

.neip-cta--section * {
	color: #ffffff;
}

.cta-item {
	width: calc(50% - 20px);
	max-width: 430px;
}

.neip-cta--items {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-between;
}

.cta-item:nth-child(odd) {
	margin-right: 10px;
}

.cta-item:nth-child(even) {
	margin-left: 10px;
}

.cta-item {
	width: calc(50% - 20px);
}

.neip-cta--items {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-between;
}

.cta-item:nth-child(odd) {
	margin-right: 10px;
}

.cta-item:nth-child(even) {
	margin-left: 10px;
}

.cta-item:not(:nth-last-child(-n + 2)) {
	margin-bottom: 50px;
}

.neip-cta--section .heading-spacer {
	margin-bottom: 45px;
}

.neip-saving--illustration .mock {
	position: absolute;
	top: -80px;
	right: 100px;
}

.neip-leaf--left svg,
.neip-leaf--right svg {
	position: absolute;
	bottom: -59px;
}

.neip-leaf--left svg {
	right: 360px;
	bottom: -155px;
	z-index: 10;
}

.neip-leaf--right svg {
	right: -20px;
	z-index: -1;
}

.neip-savings--shapeItems {
	position: absolute;
	right: 10% !important;
	display: flex;
	height: 100%;
	top: 0;
	max-width: 373px;
}

.growth-mock--section {
	padding-top: 150px;
}

.neip-standard--wrap .text-heading {
	font-size: 2.2rem;
	line-height: 1.5;
}

.neip-footer--columns {
	display: flex;
	justify-content: space-between;
}

.footer-column {
	width: 17%;
}

.column-is--two {
	width: 49%;
}

.neip-footer--columns {
	margin-bottom: 55px;
}

.neip-footer--columns {
	margin-bottom: 120px;
}

.neip-footer--menu li:not(:last-child) {
	margin-bottom: 25px;
}

.neip-footer--menu li {
	font-weight: 500;
}

.footer-column .neip-cta--lg {
	margin-top: 0;
	width: 100%;
}

.neip-copyright--section p {
	color: #ffffff;
	text-align: center;
	font-size: 0.875rem;
}

.neip-copyright--section p:not(:last-child) {
	margin-bottom: 20px;
}

.download-badge {
	display: inline-flex;
	cursor: pointer;
	transition: transform 0.6s ease;
}

.download-badge:not(:last-child) {
	margin-right: 5px;
}

.download-badges {
	display: flex;
	align-items: center;
	margin-top: 35px;
}

.column-is--two {
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.growth-mock--section .neip-standard--wrap {
	position: relative;
	top: -80px;
}

.leaf-left--below---fold {
	position: absolute;
	top: -14%;
	left: 0;
}

.leaf-right--below---fold,
.coin-left--below---fold {
	position: absolute;
	right: 0;
	top: calc(50% + 80px);
	transform: translateY(-50%);
}

.animate-coin {
	animation: float 6s ease-in-out infinite;
	transform: translatey(0px);
}

.coin-left--below---fold {
	right: auto;
	left: 0;
	top: calc(50% + 60px);
}

.overflow-visible {
	overflow: initial;
}

/* COIN ANIMATION */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.mobile-leaf-left {
	position: absolute;
	top: 10%;
	left: 0;
}

.mobile-coin-left {
	position: absolute;
	top: calc(10% + 20px);
	animation-delay: 1000ms;
}

.mobile-coin-left-two {
	position: absolute;
	top: calc(20% + 150px);
	left: 7%;
}

.mobile-leaf-right {
	position: absolute;
	right: 0;
	top: 30%;
}

.mobile-leaf-right-two {
	position: absolute;
	right: 0;
	top: 15%;
}

.mobile-coin-right {
	position: absolute;
	right: 0;
	top: 8%;
}

.web-leaf--left,
.web-leaf--left-two {
	position: absolute;
	top: 20%;
}

.web-leaf--left-two {
	top: calc(20% + 70px);
}

.web-coin-left,
.web-coin-left-two {
	position: absolute;
	top: 15%;
	left: 2%;
}

.web-coin-left-two {
	top: calc(20% + 180px);
	left: 5%;
	animation-delay: 1000ms !important;
}

.web-coin-right,
.web-coin-right-two,
.web-coin-right-three,
.web-coin-right-four {
	position: absolute;
	top: 20%;
	right: 0;
}

.web-coin-right-two {
	top: 30%;
	right: 13%;
	animation-delay: 1000ms !important;
}

.web-coin-right-three {
	top: 35%;
	right: 4%;
	animation-delay: 2000ms !important;
}

.web-coin-right-four {
	top: 50%;
	right: 8%;
	animation-delay: 3000ms !important;
}

.cta-item--heading {
	font-weight: 500;
	margin-bottom: 5px;
}

.cta-item--heading img {
	margin-right: 15px;
	height: 17px;
	width: auto;
}

.cta-item--heading span {
	width: 41px;
	display: inline-flex;
	justify-content: center;
}

/*** MOBILE MENU ***/

.hamburger {
	position: relative;
	width: 30px;
	height: 60px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.hamburger .icon {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	height: 2.5px;
	width: 28px;
	top: 27px;
	background-color: #000000;
}

.hamburger .icon:before {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	width: 22px;
	height: 2px;
	background-color: #000000;
	content: "";
	top: -8px;
}

.hamburger .icon:after {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	position: absolute;
	width: 22px;
	height: 2px;
	background-color: #000000;
	content: "";
	top: 8px;
}

.hamburger.open .icon {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.hamburger.open .icon:before {
	-webkit-transform: rotateZ(-40deg) scaleX(0.7) translate(-7px, -1px);
	transform: rotateZ(-40deg) scaleX(0.7) translate(-7px, -1px);
}

.hamburger.open .icon:after {
	-webkit-transform: rotateZ(40deg) scaleX(0.7) translate(-7px, 1px);
	transform: rotateZ(40deg) scaleX(0.7) translate(-7px, 1px);
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger.open .icon:before,
.hamburger.open .icon:after {
	width: 23px;
}

.neip-mobile--menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 99;
	background-color: #ffffff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1700ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-moz-transition: all 1700ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-o-transition: all 1700ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	transition: all 1700ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}

.neip-mobile--menu.show-menu {
	visibility: visible !important;
	-webkit-transition-delay: 100ms !important;
	-moz-transition-delay: 1000ms !important;
	-o-transition-delay: 1000ms !important;
	transition-delay: 1000ms !important;
	opacity: 1;
	-webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-o-transition: all 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
}

.mobile-active header {
	background: none;
	box-shadow: none;
}

.mobile-active {
	overflow: hidden;
}

.neip-mobile--items li a {
	font-size: 1.3em;
	padding: 17px 0;
	display: block;
	font-weight: 500;
	text-align: center;
}

.neip-mobile--items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	padding: 150px 20px 100px;
}

/* ANIMATION */

.leaf-left--below---fold {
	left: -100px;
	transition: all 1.4s;
	opacity: 0;
	top: 0%;
}

.init .leaf-left--below---fold {
	left: 0px;
	opacity: 1;
	top: -14%;
}

.leaf-right--below---fold {
	right: -100px;
	top: calc(50% + 80px);
	transition: all 1.4s;
	transform: translateY(-0%);
}

.init .leaf-right--below---fold {
	position: absolute;
	right: 0;
	top: calc(50% + 80px);
	transform: translateY(-50%);
}

.art {
	position: absolute;
	right: 0;
	top: 49%;
	transform: translateY(-50%);
}

.row-top {
	padding-top: 30px;
}

.entry-illustration img {
	position: absolute;
	left: 68px;
	max-height: 565px;
	bottom: -1px;
	z-index: 2;
}

.neip-entry--fold > .container {
	align-self: stretch;
	display: flex;
	align-items: center;
}

.neip-entry--fold > .container .neip-section {
	width: 100%;
	height: 100%;
}

.neip-entry--fold > .container .neip-section--50:last-child {
	width: 50%;
	position: relative;
	height: 100%;
}

.white-cta {
	border: 2px solid #2db875;
	background: #ffffff;
	color: #2db875;
}

.text-mini--heading {
	font-size: 1.825rem;
}

.neip-small--wrap .text-subheading {
	font-size: 1.5rem;
}

.has-heading--border:before {
	content: "";
	position: absolute;
	width: 43px;
	height: 6px;
	background: #ffffff;
	opacity: 0.4;
	display: block;
	top: 18px;
	left: 0;
}

.has-heading--border {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 68px;
}

.text-mini--subheading {
	font-size: 1.125rem;
}

.standard--bg .text-opaque {
	color: rgba(255, 255, 255, 0.6);
}

.flex-start {
	align-items: start;
}

.neip-step--text .text-opaque {
	color: rgba(3, 41, 61, 0.8);
}

.neip-step--text .text-mini--subheading {
	margin-bottom: 10px;
}

.neip-standard--section:not(.standard--bg) .has-heading--border:before {
	background: rgba(6, 58, 79, 0.4);
}

.footer--bg {
	background: #03293d;
}

.neip-footer--logo {
	height: 92px;
	width: 92px;
	margin-left: auto;
	display: flex;
	margin-right: 20px;
}

.footer-header {
	margin-bottom: 25px;
}

.neip-footer--menu li {
	font-size: 0.875rem;
}

.social-row {
	align-items: center;
	margin-top: 40px;
}

.social-row > span:not(:last-child) {
	margin-right: 41px;
}

.dropDown {
	height: auto;
	margin-left: 9px;
	display: flex;
}

.page-header--section {
	padding-top: calc(6% + 90px) !important;
	padding-bottom: 4.5%;
}

.page-header--section .neip-standard--wrap {
	margin-left: auto;
	margin-right: auto;
	top: 0;
}

.header-shapes {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	object-fit: cover;
	height: auto;
	z-index: -1;
	opacity: 0.6;
}

.form-section {
	max-width: 1132px;
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.form-wrap {
	max-width: 887px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.input-field {
	border: 2px solid rgba(3, 41, 61, 0.3);
	border-radius: 10px;
	height: 60px;
	width: 100%;
	margin-bottom: 45px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #ffffff;
	outline: 0;
}

.form-wrap .input-field--wrap {
	width: calc(50% - 12.5px);
	position: relative;
}

input.input-field:focus {
	outline: 0;
}

.label-alt {
	position: absolute;
	top: -7px;
	left: 30px;
	pointer-events: none;
	transition: top ease 0.2s;
	-webkit-transition: top ease 0.2s;
	-moz-transition: top ease 0.2s;
	-ms-transition: top ease 0.2s;
	-o-transition: top ease 0.2s;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;
	font-size: 0.875rem;
	font-weight: 500;
	color: rgba(3, 41, 61, 0.5);
}

.input-field:focus + .label-alt {
	top: -7px;
	background: #fff;
	z-index: 1;
}

.input-field:focus {
	border-color: #2db875;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0px;
	background-position: 95% 50%;
	background-size: 9px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAuMzUzNTUzIDMuMTgxOTdDMC4xNTgyOTEgMy4zNzcyMyAwLjE1ODI5MSAzLjY5MzgxIDAuMzUzNTUzIDMuODg5MDhMMy4xODE5OCA2LjcxNzVDMy4zNzcyNCA2LjkxMjc3IDMuNjkzODMgNi45MTI3NyAzLjg4OTA5IDYuNzE3NUw2LjcxNzUxIDMuODg5MDhDNi45MTI3OCAzLjY5MzgxIDYuOTEyNzggMy4zNzcyMyA2LjcxNzUxIDMuMTgxOTdDNi41MjIyNSAyLjk4NjcxIDYuMjA1NjcgMi45ODY3MSA2LjAxMDQxIDMuMTgxOTdMMy41MzU1MyA1LjY1Njg0TDEuMDYwNjYgMy4xODE5N0MwLjg2NTM5OCAyLjk4NjcxIDAuNTQ4ODE2IDIuOTg2NzEgMC4zNTM1NTMgMy4xODE5N1oiIGZpbGw9IiNBOEFBQjciLz4KPC9zdmc+Cg==");
	padding-right: 20px !important;
}

.form-wrap .neip-cta {
	width: 100%;
	border-radius: 10px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600 !important;
}

.card {
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 35px;
}

.neip-testimonial--card {
	width: calc(50% - 20px);
	max-width: 280px;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	cursor: default;
}

.neip-testimonial--card:nth-child(even) {
	position: relative;
	bottom: -85px;
}

.testimonial-image img {
	height: 42px;
	width: 42px;
	object-fit: cover;
}

.text-xs {
	font-size: 0.72rem;
}

.testimonial-info {
	margin-right: 15px;
}

.neip-testimonials {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 85px;
}

.testimonial-content {
	margin-top: 35px;
}

.testimonial-information {
	margin-top: 40px;
}

.neip-testimonial--card:hover {
	background-color: #2db875;
}

.neip-testimonial--card:hover * {
	color: #ffffff;
}

.neip-testimonial--card:hover .text-opaque.text-sm {
	color: rgba(255, 255, 255, 0.6);
}

.neip-testimonial--card:hover svg path {
	fill: #fff;
}

.sponsor-illustration img {
	bottom: auto;
	top: 48%;
	transform: translateY(-50%);
}

.neip-content--spacing:not(:last-child) {
	margin-bottom: 6.5%;
}

.neip-innerwrap-max {
	max-width: 800px;
	margin: 0 auto;
	margin-top: -3%;
}

.bottom-spacer--lg {
	margin-bottom: 5%;
}

.bottom-spacer--md {
	margin-bottom: 4%;
}

.bottom-spacer--sm {
	margin-bottom: 3%;
}

.neip-list {
	padding-left: 30px;
}

.neip-list li {
	margin-bottom: 23px;
	line-height: 1.6;
	position: relative;
}

.neip-list li:before {
	content: "";
	width: 12px;
	height: 12px;
	background: #7edfb7;
	display: block;
	position: absolute;
	left: -30px;
	border-radius: 100px;
	top: 7px;
}

.neip-single--member {
	width: calc(33.33% - 90px);
	margin-right: 90px;
	margin-bottom: 50px;
}

.neip-single--member img {
	width: auto;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	max-height: 330px;
}

.neip-members {
	margin-right: -90px;
}

.neip-single--member .testimonial-info {
	margin-top: 22px;
}

.neip-off--bg {
	background-color: #fbfbfb;
}

.neip-we {
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
}

.neip-menu--item a.active {
	color: #2db875;
}

.dropDown svg {
	height: 12px;
	width: auto;
}

.wrap-full {
	width: 100% !important;
}

textarea {
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
	/*remove the resize handle on the bottom right*/
	min-height: 170px;
}

.page-header--section .neip-standard--wrap {
	max-width: 600px;
}

.form-others {
	margin-bottom: 45px;
}

.documentation-wrap {
	margin-top: 20px;
}

.custom-check,
.custom-radio {
	padding: 10px 20px;
	position: relative;
}

/* VISUALLY HIDE THE ORIGINAL CHECKBOX/RADIOBUTTON */

.custom-check input[type="checkbox"],
.custom-radio input[type="radio"] {
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
}

.custom-check-elem,
.custom-radio-elem,
.custom-check-label,
.custom-radio-label {
	cursor: pointer;
	vertical-align: middle;
}

/* CUSTOM CHECKBOX */

.custom-check-elem,
.custom-radio-elem {
	display: inline-block;
	position: absolute;
	border: 2px solid #c7ead6;
	width: 16px;
	height: 16px;
	background: #c7ead6;
	top: 50%;
	transform: translateY(-50%);
}

/* CUSTOM RADIOBUTTON */

.custom-radio-elem {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

/* CUSTOM CHECKBOX/RADIOBUTTON CHECK */

.custom-check-elem:before,
.custom-radio-elem:before {
	content: "";
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	background-color: #2db875;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	-ms-border-radius: 200px;
	-o-border-radius: 200px;
}

/* CUSTOM RADIOBUTTON CHECK */

/* PSEUDO ELMENT CONTENT FOR CHECKED STATE */

.custom-check-input:checked + .custom-check-elem:before,
.custom-radio-input:checked + .custom-radio-elem:before {
	display: block;
}

/* IE8: needs js-fallback for :checked, don't mix selectors! */

.custom-check-input.checked + .custom-check-elem:before,
.custom-radio-input.checked + .custom-radio-elem:before {
	display: block;
}

.custom-radio-label {
	font-weight: 500;
	padding-left: 35px;
}

.form-others {
	width: 100%;
}

.has-checkboxes > div {
	width: 50%;
}

.has-checkboxesdiv:first-child {
	padding-right: 30px;
}

.custom-radio:first-child {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 40px;
	padding-left: 0;
}

.custom-radio:last-child {
	padding-left: 40px;
}

/* .has-checkboxes {
    margin-bottom: 20px;
} */

.documentation-wrap--heading {
	margin-bottom: 25px;
}

.documentation-wrap:not(:first-child) {
	margin-top: 50px;
}

.personalize--card {
	background: rgba(45, 184, 117, 0.05);
	border-radius: 10px;
	border: 2px dashed rgba(45, 184, 117, 0.5);
	position: relative;
	flex-direction: column;
	padding: 40px;
}

.previewComponent input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.personalize-text {
	font-size: 1.15rem;
	text-align: left;
	color: #03293d;
	font-weight: 500;
}

.single-upload {
	margin-bottom: 30px;
}

.single-upload .text-mini--subheading {
	font-size: 1.05rem;
	margin-bottom: 17px;
}

.single-upload p.text-mini--subheading {
	font-size: 0.9rem;
}

.personalize-text span {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.personalize-text svg {
	height: 16px;
	width: auto;
	margin-top: 7px;
	margin-bottom: 5px;
}

.image-uploaded {
	width: 65px;
	height: 65px;
	position: relative;
	margin-top: 20px;
}

.checked-uploaded {
	position: absolute;
	height: 24px;
	width: 24px;
	background: #fff;
	padding: 2px;
	border-radius: 100px;
	top: -8px;
	right: -8px;
}

.image-uploaded img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border: 2px solid rgba(45, 184, 117);
}

.previewComponent {
	display: flex;
	width: 100%;
}

.personalize--card {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 140px;
}

.full-width {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.personalize-text {
	margin-bottom: 9px;
}

.spinner-wrap {
	margin: 0 auto;
	width: 50px;
	position: relative;
	/* top: 68px; */
	/* left: 50%; */
	transform: translateX(-50%);
	padding: 7px;
	/* background: #fff; */
	border-radius: 100px;
	/* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05); */
	/* border: 1px solid #40196d; */
}

.spinner {
	width: 86px;
	height: 86px;
	display: block;
	color: #2db875;
}

.spinner:after {
	content: "";
	width: 86px;
	height: 86px;
	display: inline-block;
	border: 8px solid #2db875;
	border-bottom-color: rgba(45, 184, 117, 0.3);
	border-radius: 100%;
	background: transparent;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(359deg);
	}
}

.neip-cta--center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.success-max {
	max-width: 400px;
}

.disabled {
	pointer-events: none;
	opacity: 0.6;
}

.optional-doc--wrap .personalize--card {
	margin-top: 30px;
}

.optional-doc--wrap {
	padding: 30px;
	background: #ffffff;
	box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	margin-bottom: 30px;
}

.isDoc {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 10px;
	border: 2px solid rgba(45, 184, 117);
}

.isDoc svg {
	height: 30px;
	width: 30px;
}

.upload-text p {
	margin-top: 20px;
}

.uploading {
	opacity: 0.3;
}

textarea.input-field {
	padding: 30px 40px;
}

.other-label {
	margin-bottom: 15px;
}

.input-field--full {
	width: 100% !important;
}

.fadeTextUp {
	animation: 0.8s ease-out 0s 1 normal both running text;
	-webkit-animation: 0.8s ease-out 0s 1 normal both running text;
}

@keyframes text {
	0% {
		transform: translateY(20px);
		-webkit-transform: translateY(20px);
		-moz-transform: translateY(20px);
		-ms-transform: translateY(20px);
		-o-transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.dropdown-menu {
	top: 35px !important;
	opacity: 0;
	visibility: hidden;
	display: block !important;
	position: absolute;
	padding-top: 28px;
	-webkit-transition-delay: 1000ms !important;
	-moz-transition-delay: 1000ms !important;
	-o-transition-delay: 1000ms !important;
	transition-delay: 1000ms !important;
	-webkit-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1),
		top 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-moz-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1),
		top 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	-o-transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1),
		top 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	transition: opacity 500ms cubic-bezier(0.455, 0.03, 0, 1),
		top 500ms cubic-bezier(0.455, 0.03, 0, 1) !important;
	width: max-content;
	min-width: 250px;
	right: -40px;
}

[data-toggle="dropdown"]:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	top: 30px !important;
}

.neip-dropdown-menu {
	background: #ffffff;
	border: 1px solid rgba(6, 58, 79, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	padding: 20px;
	white-space: nowrap;
}

.neip-menu--item {
	position: relative;
}

.neip-menu--item {
	position: relative;
}

.neip-dropdown-menu li a {
	border-radius: 5px;
	padding: 15px;
	font-family: "Futura", sans-serif !important;
	font-weight: 500;
}

.neip-dropdown-menu li a.active {
	background: rgba(45, 185, 117, 0.05);
	color: #2db875;
}

.neip-dropdown-menu li {
	margin: 0 !important;
}

.menu-link.active:before {
	content: "";
	height: 2px;
	width: 15px;
	background: #2db875;
	margin-right: 10px;
}

.neip-menu--item .active .dropDown svg path {
	fill: #2eb875;
}

.menu-state--active .dropdown-menu {
	opacity: 0 !important;
	visibility: hidden !important;
	top: 35px !important;
}

.dropdown-menu:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 13px solid #fff;
	top: 17px;
	position: absolute;
	right: 50px;
	transform: translateY(0.6px);
	-webkit-transform: translateY(0.6px);
	-moz-transform: translateY(0.6px);
	-ms-transform: translateY(0.6px);
	-o-transform: translateY(0.6px);
}

.dropdown-menu:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 13px solid rgb(219, 226, 229);
	top: 16px;
	position: absolute;
	right: 50px;
}

.neip-listing--image {
	height: 158px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	overflow: hidden;
}

.neip-listing--image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.neip-single--listings {
	width: calc(33.33% - 37px);
	margin-right: 37px;
	margin-bottom: 40px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	overflow: hidden;
}

.neip-donor--listings {
	margin-right: -37px;
}

.neip-listing--item {
	padding: 20px 23px;
}

.deal-overview-tab-value {
	font-size: 0.875rem;
}

.overview-icon {
	margin-right: 6px;
}

.deal-overview-tab-name {
	font-size: 0.82rem;
	margin-bottom: 10px;
}

.deal-overview-information {
	margin-top: 19px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.deal-overview-tab {
	width: 33.33%;
}

.deal-overview-tab:not(:last-child) {
	padding-right: 10px;
}

.deal-footer--actions {
	padding: 18px 0px 0;
}

.footer-single--action .deal-overview-tab-value {
	height: 24px;
	width: 50%;
	font-size: 0.75rem;
	font-weight: 500;
}

.footer-single--action .deal-overview-tab-value:last-child {
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: flex-end;
}

.footer-single--action .deal-overview-tab-value:not(:last-child) {
	padding-right: 10px;
}

.kyc-form--wrap {
	max-width: 643px;
}

.kyc-form--wrap .input-field--wrap {
	width: calc(100%);
	position: relative;
}

.mobile-item {
	width: 100%;
	margin-bottom: 10px;
}

/* DASHBOARD */

.neip-dashboard--wrap {
	display: grid;
	/* grid-template-columns: 240px 1fr; */
	grid-template-columns: 119px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "sidebar main";
	block-size: 100vh;
}

.neip-dashboard--sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
}

.neip-dashboard--content {
	grid-area: main;
	background-color: #1a0c2f11;
	overflow: hidden;
	overflow-y: scroll;
}

.dashboard-menu--icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-menu--icon svg {
	height: auto;
	width: 24px;
	fill: none;
}

.dashboard-menu--icon:hover path {
	opacity: 1;
}

.active .dashboard-menu--icon path,
.dashboard-menu--icon:hover path {
	opacity: 1;
}

.search--input {
	border: 0px;
	outline: none;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #03293d;
	width: 90px;
	padding: 0px 10px 0px 10px;
	margin-right: 5px;
	background: transparent!important;
}

.search--input::placeholder {
	letter-spacing: 0.02em;
	color: #03293d;
	font-size: 14px;
	font-family: unset;
}

.grey::placeholder {
	color: #ABABAB!important;
}
