.modal__component {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(3, 41, 61, 0.9);
}

.modal__component .modal__content {
    display: flex;
    justify-content: center;
    height: 100%;
    color: #fff;
    margin-top: 60px;
}

.modal__component .modal__content .close__modal {
    margin: 10px 0;
}

.modal__component .modal__content .modal__title {
    margin: 10px 0;
    color: #FCFCFC;
}

.modal__component .modal__content .modal__card {
    background: #fff;
    width: 30em;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px 30px;
}

.modal__component .modal__content .modal__card div{
    margin-bottom: 20px;
}

.modal__component .modal__content .modal__card label {
    color: #03293D;
    opacity: 0.9;
    font-size: 14px;
    margin: 10px 0;
    display: block;
}