.summary__card {
	background: #fff;
	border-radius: 10px;
	padding: 1em;
}

.summary__card .summary__card__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0.5em;
}

.summary__card .summary__card__content .sold {
	text-align: center;
	color: #03293d;
	font-weight: bold;
	font-size: 18px;
	margin: 5px 0;
}

.summary__card .summary__card__content .total {
	text-align: center;
	color: #03293d;
	font-size: 15px;
	margin: 0px 0;
}

.summary__card .summary__card__content .progress-section {
	display: flex;
	justify-content: center;
	width: 30%;
}

.summary__card .summary__card__content .progress_container {
	position: relative;
	left: 14px;
}

.summary__card .summary__card__content .investment__details {
	width: 70%;
	padding: 10px;
	padding: 10px;
}

.summary__card .summary__card__content .investment__details__content {
	background: #f2f4f4;
	padding: 10px;
	border-radius: 5px;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.line-break {
	border: 1px solid #ac4d8b;
	opacity: 0.1;
	height: 1px;
	margin: 10px 0;
}

.summary__card .summary__card__content .investment__details__content .title {
	color: #03293d;
	opacity: 0.6;
	font-size: 14px;
	padding: 5px 0;
}
.summary__card .summary__card__content .investment__details {
	border-left: 1px solid #f1f0f4;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.investment-title {
	color: #03293d;
	font-size: 16px;
	padding: 5px 0;
}

.summary__card .summary__card__content .investment__details__content .owner {
	padding: 5px 0;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.owner
	span {
	margin-right: 10px;
	font-size: 14px;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.owner
	img {
	position: relative;
	top: 4px;
	margin-right: 2px;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.owner
	.key {
	color: #03293d;
	opacity: 0.6;
	font-size: 13px;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.owner
	.value {
	color: #03293d;
	font-weight: 500;
	font-size: 13px;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.owner
	.badge {
	color: #2db875;
	background: rgb(195, 228, 212);
	padding: 5px;
	border-radius: 4px;
	font-size: 12px;
}

.summary__card .summary__card__content .investment__details__content .finance {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.finance
	span {
	font-size: 13px;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.finance
	.key {
	color: #2d2d2d;
	opacity: 0.6;
}

.summary__card
	.summary__card__content
	.investment__details__content
	.finance
	.value {
	color: #2d2d2d;
	font-weight: 500;
}

/** DETAILS SECTION **/

.details__card {
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0;
	overflow: scroll;
}

.details__card .details__card__tabs {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #e7e7e7;
}

.details__card .details__card__tabs p {
	color: #03293d;
	font-size: 15px;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}

.details__card .details__card__tabs p:hover {
	border-bottom: 1px solid #2db875;
	color: #2db875;
}

.details__card .details__card__tabs p.active {
	border-bottom: 1px solid #2db875;
	color: #2db875;
}

.details__card .details__card__content {
	height: 400px;
}

@media screen and (max-width: 768px) {
	.summary__card .summary__card__content,
	.value {
		display: block;
	}
	.summary__card .summary__card__content .investment__details {
		border-left: none;
	}

	.summary__card
		.summary__card__content
		.investment__details__content
		.finance {
		display: block;
		width: 100%;
	}

	.summary__card
		.summary__card__content
		.investment__details__content
		.finance
		div {
		margin-top: 1rem;
	}
	.summary__card .summary__card__content .investment__details,
	.summary__card .summary__card__content .progress-section {
		width: 100%;
	}
}
