/* ONBOARDING SIDEBAR */

.onboarding--sidebar {
	background-image: url('../../assets/img/onboarding-image.jpg');
	width: 38%;
	min-width: 566px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.onboarding-content--wrap {
	width: 62%;
}

.onboarding--sidebar:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(3, 41, 61, 0.78);
}

.onboarding--sidebar * {
	position: relative;
	z-index: 1;
}

.top-nav--item img {
	height: 61px;
	width: 61px;
}

.top-nav--item {
	height: 123px;
	display: flex;
	align-items: flex-end;
	padding-left: 75px;
}

.onboarding-content--wrap .top-nav--item {
	padding-left: 0px !important;
}

.onboarding-content--wrap .top-nav--item .navigation {
	padding-left: 58px;
}

.top-nav--item .navigation {
	padding-right: 40px;
}

.icon {
	display: flex;
}

:-webkit-any(button) {
	border: none;
	background-color: transparent;
}

.spinner-wrap {
	margin: 0 auto;
	width: 50px;
	position: relative;
	/* top: 68px; */
	/* left: 50%; */
	transform: translateX(-50%);
	padding: 7px;
	/* background: #fff; */
	border-radius: 100px;
	/* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05); */
	/* border: 1px solid #40196d; */
}

.spinner {
	width: 86px;
	height: 86px;
	display: block;
	color: #2db875;
}

.spinner:after {
	content: '';
	width: 86px;
	height: 86px;
	display: inline-block;
	border: 8px solid #2db875;
	border-bottom-color: rgba(45, 184, 117, 0.3);
	border-radius: 100%;
	background: transparent;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(359deg);
	}
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 2px solid #2db875;
	-webkit-text-fill-color: #03293d;
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
	transition: background-color 5000s ease-in-out 0s;
}

.onboarding-footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	height: 95px;
}

.right_menu {
	max-width: 651px;
	margin-right: auto;
	width: 100%;
	justify-content: flex-end;
	display: flex;
	padding-right: 40px;
}

.neip-sidebar--wrap {
	height: calc(100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bottom-onboarding--spacer {
	height: 95px;
}

.neip-sidebar--wrap .neip-small--wrap {
	position: relative;
	left: 75px;
}

.quote {
	position: absolute;
	top: -32px;
	z-index: -1;
}

.quote path {
	fill: white;
}

@media only screen and (max-width: 1024px) {
	.onboarding--sidebar {
		display: none;
	}
	.onboarding-content--wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.onboarding-content--wrap .top-nav--item {
		padding: 0;
	}
	.top-nav--item .navigation {
		max-width: 731px !important;
		margin: 0 auto;
		padding-right: 0;
	}
	.onboarding-content--wrap nav {
		width: 100%;
	}
	.onboarding-footer * {
		color: #03293d;
		fill: #03293d;
	}
	.onboarding-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.right_menu {
		justify-content: center;
		padding: 0;
	}
	.left_menu {
		width: 100%;
		padding: 0 !important;
		margin-bottom: 13px;
		justify-content: center !important;
	}
	.footer_logo,
	.footer_links a {
		margin-right: 15px !important;
	}
}

@media only screen and (min-width: 1025px) and (max-height: 890px) {
	.top-nav--item {
		height: 85px;
	}
	.input-field {
		height: 56px;
	}
	.top_text {
		margin-bottom: 40px !important;
	}
}

@media only screen and (min-width: 1025px) and (max-height: 802px) {
	.top-nav--item img {
		width: 50px;
		height: 50px;
	}
	.top-nav--item * {
		font-size: 12px !important;
	}
	.top-nav--item svg {
		height: 17px;
	}
	.top-nav--item .back svg {
		height: 13px;
	}
	.left_menu .footer_logo a,
	.footer_links a,
	.top_text p {
		font-size: 13px !important;
	}
	.right_menu svg {
		height: 18px;
		width: 18px;
	}
	.top_text h1 {
		font-size: 24px !important;
	}
	.input-field {
		height: 52px;
	}
	.label-alt {
		font-size: 12px;
	}
	.form-wrap button {
		height: 52px;
	}
	.neip-small--wrap .text-subheading {
		font-size: 22px;
	}
	.top-nav--item,
	.left_menu {
		padding-left: 65px !important;
	}
	.onboarding-content--wrap .top-nav--item .navigation {
		padding-left: 45px !important;
	}
	.onboarding--sidebar,
	.left_menu {
		min-width: 520px !important;
	}
}
