.repayment__plan {
    padding: 15px 30px;
    height: 100%;
}

.repayment__plan .empty__repayment__plan{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.repayment__plan .empty__repayment__plan div{
    text-align: center;
}

.repayment__plan .empty__repayment__plan div p{
    color: #EB5757;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}

.repayment__plan thead tr{
    width: 100%;
    background: #f1f0f4;
}

.repayment__plan table , .repayment__plan tr{
    width: 100%;
}

.repayment__plan th{
   padding: 15px 0;
   width: 50%;
}

.repayment__plan td{
    width: 50%;
    padding: 15px 0;
    text-align: center;
}

.repayment__plan .add__repayment__plan__btn {
    margin: 40px 0 0 0;
    text-align: right;
}