.custom-90 {
    width: 90%;
    margin: 0 auto
}

.custom-80 {
    width: 80%;
    margin: 0 auto
}

.dashboard__sidebar {
    width: 9%;
    background: #03293D;
    height: 100vh;
    position: fixed;
}

.dashboard__sidebar .dashboard__sidebar__component .dashboard__logo {
    text-align: center;
    padding: 30px 0;
}

.dashboard__sidebar .dashboard__sidebar__component .dashboard__logo img {
    width: 52px;
}

.dashboard__sidebar .dashboard__sidebar__component .dashboard__sidebar__nav {
    text-align: center;
    margin: 40px 0 30px 0;
}

.dashboard__sidebar .dashboard__sidebar__component .dashboard__sidebar__nav .nav__item {
    margin: 40px 0;
}

.dashboard__header {
    width: 91%;
    margin-left: 9%;
    position: fixed;
    background: #fff;
    z-index: 1;
}

.dashboard__header .dashboard__header__component {
    padding: 20px 0;
    background: #fff;
}

.dashboard__header .dashboard__header__component .dashboard__header__nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.dashboard__header .dashboard__header__component .dashboard__header__nav .header__right{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.dashboard__header .dashboard__header__component .dashboard__header__nav .header__right .nav__item{
    margin-left: 30px;
}

.dashboard__header .dashboard__header__component .dashboard__header__nav .header__right .nav__item img{
    width: 22px;
}

.dashboard__header .dashboard__header__component .dashboard__header__nav .header__right .nav__item span{
    font-size:15px;
    position: relative;
    bottom: 5px;
    margin: 0 7px;
}

.dashboard__header .dashboard__header__component .dashboard__header__nav .header__right .nav__item #logout {
    width: 35px;
}


.dashboard__layout__content{
    width: 91%;
    margin-left: auto;
    position: relative;
    top: 77px;
    z-index:1;
    background: #F4F3F5;
}



/* Media Queries for Dashboard Layout */
@media screen and (max-width:500px){
    .dashboard__sidebar {
        width: 12%;
        background: #03293D;
        height: 100vh;
        position: fixed;
    }
    .dashboard__header .dashboard__header__component {
        padding: 17px 0;
        background: #fff;
        box-shadow: 0px 2px 2px #f1f0f4;
    }
    .dashboard__sidebar .dashboard__sidebar__component .dashboard__logo img {
        width: 32px;
    }
    .dashboard__header .dashboard__header__component .dashboard__header__nav{
        display: block;
        text-align: center;
    }
    .dashboard__header .dashboard__header__component .dashboard__header__nav .search-col{
        display: none;
    }
    .dashboard__header .dashboard__header__component .dashboard__header__nav .header__right .nav__item img{
        width: 20px;
    }
    .dashboard__layout__content{
        width: 88%;
        margin-left: auto;
        position: relative;
        top: 75px;
        z-index:1;
        height: fit-content;
        
    }
    .dashboard__header {
        width: 88%;
        margin-left: 12%;
        position: fixed;
        background: #fff;
        z-index: 1;
    }
}